*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.topo {
  background-color: #00CAD1;
}

.topo {
  background-color: #00CAD1;
}

.topo-menu{
  min-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 45%;
  flex-wrap: nowrap;
}

.logo img{
  width: 50%;
}

.menu {
  display: flex;
  gap: 10%;
}

.menu a{
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: #0C6E71;
}

.menu-esp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 20px;
}

.menu-esp a {
  color: #505051;
  text-decoration: none;
  border-bottom: 2px solid #00CAD1;
}

.menu-esp a:hover {
  color: #00CAD1;
}

.ortopedia {
  display: flex;
  flex-direction: column; 
}

.subtitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.subtitulo h2 {
  color: #7A7A7C;
  font-size: 23px;
}

.medicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medicos h3 {
  color: #7A7A7C;
  padding-top: 40px;
  padding-bottom: 20px;
}

.medicos p {
  width: 500px;
  color: #7A7A7C;
  text-align: center;
  padding-bottom: 20px;
}

.tabela-medicos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img{
  width: 299px;
  

}

table {
  border-spacing: 0;
}

.cabecalho {
  background-color: #00CAD1;
}

.tabela-medicos th {
  padding: 15px 0px 10px 0px ;
  
}

.tabela-medicos td {
  padding: 15px;
}

.corpo tr:nth-child(odd) {
  background-color: #dfdfe3;
}

.rodape {
  width: 100%;
  background-color: #0C6E71;
  margin-top: 50px;
}

.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagemrodape img{
  width: 100px;
  padding-top: 25px;
}

.paragrafos {
  text-align: center;
  color: #fff;
  padding-bottom: 40px;
}

.paragrafos p {
  padding-top: 20px;
  font-weight: normal;
}

